@use './variables' as *;
.header {
    background-color: $caf-noir;
    color: $papaya-whip;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;;
}

.header__logo {
    width: 150px;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    img {
        width: 100%;
        height: auto;
        max-width: 112px;
        display: block;
    }
}

.header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 320px;
    height: 100vh;
    background-color: $licorice;
    transition: transform 0.3s ease-in-out;
}

.header__nav--open {
    transform: translateX(0); // Show the navigation
}

.header__nav--closed {
    transform: translateX(100%); // Hide the navigation
}

.header__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.header__nav-link {
    color: $papaya-whip;
    text-decoration: none;
    font-size: 1.125rem;
    font-family: 'Montserrat', sans-serif;
    
    &:hover {
        color: $butterscotch
    }
}


.header__nav-link--active {
    color: $butterscotch;
    font-weight: bold;
}


.header__menu-toggle {
    display: none;
    background: none;
    border: none;
    color: $papaya-whip;
    font-size: 1.5rem;
    cursor: pointer;

    .material-icons {
        font-size: 1.5rem;
    }
}

.header__nav-close {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}


// Media adaptations
@media (min-width: 768px) {
    .header__nav {
        position: static;
        width: auto;
        height: auto;
        background: none;
        padding: 0;
        transform: none;
    }

    .header__nav-list {
        flex-direction: row;
        gap: 1.5rem;
    }

    .header__nav-toggle
    .header__nav-close {
        display: none; // Hide the toggle button on larger screens
    }
}
